@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 24px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.header {
  padding: 20px 0;
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-link {
  font-weight: 600;
  font-size: 16px;
  color: #8d8c8b;
}
@media screen and (max-width: 780px) {
  .header-link {
    display: none;
  }
}
.header-link:not(:last-child) {
  margin-right: 48px;
}
.header-botton {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-button {
  border-radius: 8px;
  padding: 18px 36px;
  width: 186px;
  height: 55px;
  background-color: #ff8541;
  color: #fff;
}
.header-button:hover {
  border: 1px solid #ff8541;
  background-color: #fff;
  color: #ff8541;
}
.header-select {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555351;
  border-radius: 8px;
  padding: 18px;
  width: 83px;
  height: 55px;
}
@media screen and (max-width: 780px) {
  .header-select {
    display: none;
  }
}
.header-select__text {
  font-weight: 600;
  font-size: 16px;
  color: #555351;
}
.header-menu {
  display: none;
}
@media screen and (max-width: 780px) {
  .header-menu {
    display: block;
  }
}

.banner {
  margin-top: 70px;
}
.banner-picture {
  width: auto;
  max-width: 100%;
  height: 716px;
  position: relative;
}
.banner-picture img {
  width: 100%;
}
.banner-title {
  width: 60%;
  position: absolute;
  left: 104px;
  bottom: 20%;
  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  color: #fff;
  padding-bottom: 30px;
}
@media screen and (max-width: 780px) {
  .banner-title {
    display: block;
  }
}
.banner-subtitle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-subtitle {
  width: 60%;
  position: absolute;
  left: 104px;
  bottom: 18%;
  font-weight: 600;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
}
@media screen and (max-width: 780px) {
  .banner-subtitle {
    width: auto;
    display: block;
  }
}
.banner-icon {
  width: 60%;
  position: absolute;
  left: 104px;
  bottom: 18%;
  width: 64px;
  height: 64px;
}

.section-text {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-the {
  font-weight: 600;
  font-size: 39px;
  color: #000;
}
.section-the__yelow {
  color: #ff8541;
}
.section-button {
  border: 1px solid #ff8541;
  border-radius: 8px;
  padding: 18px 36px;
  width: 141px;
  height: 55px;
  background-color: #ff8541;
  color: #fff;
}
.section-button:hover {
  border: 1px solid #ff8541;
  background-color: #fff;
  color: #ff8541;
}
@media screen and (max-width: 780px) {
  .section-blok {
    flex-direction: row;
    flex-wrap: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.section-block {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.section-block__two {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.news-text {
  margin-top: 20px;
  font-weight: 600;
  font-size: 39px;
  color: #000;
}
.news-block {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 780px) {
  .news-block {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
}
.news-block__blok {
  border-radius: 16px 16px 0 0;
  background-color: rgb(218, 211, 211);
  width: 337px;
  height: 459px;
}
.news-paragraph {
  padding: 10px;
  font-weight: 400;
  font-size: 21px;
  color: #000;
}
.news-tex {
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: #555351;
}

.footer {
  margin-top: 40px;
  width: 100%;
  height: 256px;
  background-color: rgb(247, 232, 205);
}
.footer-row {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-networks__text {
  max-height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #000;
}
.footer-address {
  margin-top: 50px;
  width: 210px;
}
.footer-xarita {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 43px;
  background-color: #fff;
}
.footer-appx {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
  width: 246px;
  height: 57px;
}/*# sourceMappingURL=style.css.map */