.header{
    padding: 20px 0;
   &-row{
    @include flex(center, space-between);
   } 
   &-link{
    font-weight: 600;
    font-size: 16px;
    color: #8d8c8b;
    @include media (780){
        display: none;
    }
    &:not(:last-child){
        margin-right: 48px;
        
        
        
    } 
}
    &-botton{
        gap: 12px;
        @include flex(center, space-between); 
    }
 &-button{
    border-radius: 8px;
    padding: 18px 36px;
    width: 186px;
    height: 55px;
    background-color: $button-color;
    color:#fff ;
    &:hover{
        border: 1px solid $button-color;
        background-color:#fff;
        color:$button-color;
    }
 }
 &-select{
    @include flex(center, center);
    @include media (780){
        display: none;
    }
 border: 1px solid #555351;
border-radius: 8px;
padding: 18px;
width: 83px;
height: 55px;
&__text{
   
    font-weight: 600;
font-size: 16px;
color: #555351;
}
 }
 &-menu{
    
        display: none;
    
    @include media (780){
        display: block;
    }
 }
 
}